Frontend/ParadoxConverters.Frontend/ParadoxConverters.Frontend/obj/
Frontend/ParadoxConverters.Frontend/ParadoxConverters.Frontend/bin/
Frontend/ParadoxConverters.Frontend/Frontend.Core.Tests/obj/
Frontend/ParadoxConverters.Frontend/Frontend.Core/obj/
bin/