CK2ToEU3/build/
Release/
ReleaseIntermediate/
Debug/
DebugIntermediate/
testResults
*testResults*
V2ToHoI3.zip
*.opensdf
*.opendb
*.sdf
*.VC.db
/EU4toV2/.vs/EU4ToV2/v14/.suo
/EU4toV2/.vs/Supercharger/EU4ToV2/codemap.dat
/EU4toV2/.vs/Supercharger/EU4ToV2/global_history.dat
/EU4toV2/.vs/Supercharger/EU4ToV2/workbench.dat
