<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProvinceMapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProvinceMapper.Properties.Settings>
            <setting name="srcMapFolder" serializeAs="String">
                <value>D:\Victoria 2\map</value>
            </setting>
            <setting name="destMapFolder" serializeAs="String">
                <value>D:\Hearts of Iron III\map</value>
            </setting>
            <setting name="srcTag" serializeAs="String">
                <value>vic</value>
            </setting>
            <setting name="destTag" serializeAs="String">
                <value>hoi</value>
            </setting>
            <setting name="mappingFile" serializeAs="String">
                <value>province_mappings.txt</value>
            </setting>
            <setting name="fitMaps" serializeAs="String">
                <value>True</value>
            </setting>
        </ProvinceMapper.Properties.Settings>
    </userSettings>
</configuration>